// primary
$app-root__color--primary--brown: #623108;
$app-root__color--primary--light_yellow: #f6bd20;
$app-root__color--primary--yellow_shadow: #de9400;
$app-root__color--primary--dark_grey: #292929;
$app_root__color--primary--light_red: #e65a41;
$app-root__color--primary--red: #c52018;
$app-root__color--primary--light_blue: #2a75bb;
$app-root__color--primary--dark_blue: #3c5aa6;