<div id="mz-gallery-container">
    <div #horizontal_scroll id="mz-gallery">
        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="Statue of Liberty" width="700" height="700">
            <figcaption>Statue of Liberty</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/10.png" alt="Night Sky" width="700" height="700">
            <figcaption>Night Sky</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/16.png" alt="Ravine Between Rocks" width="700" height="700">
            <figcaption>Ravine Between Rocks</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/22.png" alt="Wheat Farm" width="700" height="700">
            <figcaption>Wheat Farm</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/26.png" alt="City Street" width="700" height="700">
            <figcaption>City Street</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/30.png" alt="Crumbling Pier" width="700" height="700">
            <figcaption>Crumbling Pier</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/32.png" alt="Foggy Mountains" width="700" height="700">
            <figcaption>Foggy Mountains</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/103.png" alt="Dense Forest" width="700" height="700">
            <figcaption>Dense Forest</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/144.png" alt="Sunset Over Mountains" width="700" height="700">
            <figcaption>Sunset Over Mountains</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/178.png" alt="SUV in Front of Building" width="700" height="700">
            <figcaption>SUV in Front of Building</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/44.png" alt="Classic Vehicle" width="700" height="700">
            <figcaption>Classic Vehicle</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/79.png" alt="Stacked Rocks" width="700" height="700">
            <figcaption>Stacked Rocks</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/99.png" alt="Brick Wall" width="700" height="700">
            <figcaption>Brick Wall</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/188.png" alt="Waterfront" width="700" height="700">
            <figcaption>Waterfront</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/210.png" alt="Overgrown Buildings" width="700" height="700">
            <figcaption>Overgrown Buildings</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/111.png" alt="Dying Trees" width="700" height="700">
            <figcaption>Dying Trees</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <figure>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/147.png" alt="Ocean View" width="700" height="700">
            <figcaption>Ocean View</figcaption>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>
    </div>
</div>
