<div class="card text-center app-footer">
    <div class="card-body">
      <h5 class="card-title">Go Catch Em All!</h5>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/jeffreygrospe/">Linkedin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/jgrospe92">Github</a>
        </li>
      </ul>
    </div>
    <div class="card-footer text-body-secondary">
        <i class="bi bi-c-circle"></i>2023 Poke-grid
    </div>
  </div>